################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestResults
/JPB.DataAccess/bin
/JPB.DataAccess/obj
/JPB.DataAccess/packages
/JPB.DataAccess/TestResults
/JPB.DataAccess.EntryCreator/bin
/JPB.DataAccess.EntryCreator/obj
/JPB.DataAccess.MySql/obj/Debug
/JPB.DataAccess.MySql/obj/Release
/JPB.DataAccess.UnitTests/bin
/JPB.DataAccess.UnitTests/obj
/packages
/JPB.DataAccess.Tests/obj
/JPB.DataAccess.Tests/bin
*.pdb
*.exe
*.dll
/JPB.DataAccess.SqlLite/obj
/JPB.DataAccess.SqlLite/bin
/JPB.DataAccess.Tests.MsSQL/obj
/JPB.DataAccess.Tests.MsSQL/bin
/JPB.DataAccess.Tests.SqLite/obj
/JPB.DataAccess.Tests.SqLite/bin
/JPB.DataAccess.EntryCreator/JPB.DataAccess.EntityCreator.csproj.user
/JPB.DataAccess/JPB.DataAccess.v12.suo
/.vs/JPB.DataAccess/v14/.suo
/JPB.DataAccess.EntityCreator.Core/bin/Debug
/JPB.DataAccess.EntityCreator.Core/obj/Debug
/JPB.DataAccess.EntityCreator.UI/bin/Debug
/JPB.DataAccess.EntityCreator.UI/obj/Debug
