<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="6.0.2" targetFramework="net45" />
  <package id="AvalonEdit" version="5.0.3" targetFramework="net45" />
  <package id="DataConnectionDialog" version="1.2" targetFramework="net452" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net45" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net46" />
  <package id="WPFToolsAwesome" version="1.0.9.2001" targetFramework="net45" />
</packages>