<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;"/>
		<add name="CiConnection" connectionString="Server=(local)\SQL2014;Database=master;User ID=sa;Password=Password12!;"/>
	</connectionStrings>
</configuration>