<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="DefaultConnection" connectionString="Data Source=(localdb)\ProjectsV13;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;"/>
        <add name="DefaultConnectionMySQL" connectionString="Server=localhost;Uid=root;"/>
        <add name="DefaultConnectionSqLite" connectionString="Data Source=%Temp%;"/>
        <add name="CiConnection" connectionString="Server=(local)\SQL2014;Database=master;User ID=sa;Password=Password12!;"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
