<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="RDBMS.MySql.StartManagedServer" value="True"/>
	</appSettings>
	<connectionStrings>
		<add name="RDBMS.MsSql.DefaultConnection" connectionString="Data Source=(localdb)\ProjectsV13;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;"/>
		<add name="RDBMS.MsSql.CiConnection" connectionString="Server=(local)\SQL2014;Database=master;User ID=sa;Password=Password12!;"/>
		<add name="RDBMS.MsSql.VSTSConnection" connectionString="Data Source=.\V16;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;"/>

		<add name="RDBMS.MySql.DefaultConnection" connectionString="Server=localhost;Uid=root;Port=55555;"/>

		<add name="RDBMS.SqLite.DefaultConnection" connectionString="Data Source=%Temp%;"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
	</startup>
</configuration>
