<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.4.3" targetFramework="net472" />
  <package id="Microsoft.SqlServer.DacFx" version="150.4573.2" targetFramework="net472" />
  <package id="Microsoft.SqlServer.DacFx.x64" version="150.4573.2" targetFramework="net472" />
  <package id="Microsoft.SqlServer.DacFx.x86" version="150.4573.2" targetFramework="net472" />
</packages>